#You need to give Sara cake
trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

stages:

#Build web project
- stage:
  displayName: "Build web project"
  jobs:
  - job:
    steps:
    - task: DotNetCoreCLI@2
      displayName: "Dotnet build"
      inputs:
        command: 'build'
        projects: '**/*.csproj'

    - task: DotNetCoreCLI@2
      displayName: "Dotnet publish"
      inputs:
        command: 'publish'
        publishWebProjects: true
        arguments: '--output $(Build.ArtifactStagingDirectory)'

    - task: PublishBuildArtifacts@1
      displayName: "Publish build artifacts"
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'drop'
        publishLocation: 'Container'

# Deploy and test
- stage:
  displayName: "Deploy to Dev"
  jobs:
  - job:
    displayName: "Deploy website"
    steps:

    - task: DownloadBuildArtifacts@0
      displayName: "Get build artifact"
      inputs:
        buildType: 'current'
        downloadType: 'single'
        artifactName: 'drop'
        downloadPath: '$(System.ArtifactsDirectory)'

    - task: AzureWebApp@1
      displayName: "Publish Web App"
      inputs:
        azureSubscription: 'Visual Studio Enterprise(ec3f29ba-2f6c-490c-a0ba-1c962302296f)'
        appType: 'webApp'
        appName: 'FamilyFriendlyCampsite'
        package: '$(System.ArtifactsDirectory)/**/*.zip'
        deploymentMethod: 'auto'

  - job: 
    displayName: "Run UI tests"
    steps:
      - task: CmdLine@2
        inputs:
          script: 'npm install cypress --save-dev'

      - task: CmdLine@2
        inputs:
          script: 'npx cypress run'

      - task: PublishTestResults@2
        condition: succeededOrFailed()
        inputs:
          testResultsFormat: 'JUnit'
          testResultsFiles: 'jest.xml'
          failTaskOnFailedTests: true
        displayName: Publish test results