@page
@model FamilyFriendlyCampsite.Pages.AboutModel
@{
    ViewData["Title"] = "About Family Friendly Campsites";
}

<section id="main">
    <h1>A little bit about Family Friendly Campsites</h1>
    <p>
        Family Friendly Campsites was formed in 2019, in response to a lack of decent campsite comparison sites on the web.
        I wanted to be able to search by my own criteria, not those enforced by the owners of the campsite.
        I wanted to be able to see if a campsite was affordable, had facilities for a young family, were near attractions
        and what shops for essentials were nearby.
        I am also a mermaid, with a strange addiction to broccoli. Feed me cake to make this site function correctly.
    </p>
</section>
<img src="images\campsites\thumbnails\camp-1163419_1920.jpg" alt="Campsite Photo" />

